---
http_interactions:
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?format=json&q=select%20*%20from%20weather.forecast%20where%20woeid=614274%20and%20u='f'
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - engine10.yql.ne1.yahoo.com
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"count":1,"created":"2013-03-29T07:15:48Z","lang":"en-US","results":{"channel":{"title":"Yahoo!
        Weather - Nice, FR","link":"http://us.rd.yahoo.com/dailynews/rss/weather/Nice__FR/*http://weather.yahoo.com/forecast/FRXX0073_f.html","description":"Yahoo!
        Weather for Nice, FR","language":"en-us","lastBuildDate":"Fri, 29 Mar 2013
        7:29 am CET","ttl":"60","location":{"city":"Nice","country":"France","region":""},"units":{"distance":"mi","pressure":"in","speed":"mph","temperature":"F"},"wind":{"chill":"47","direction":"340","speed":"8"},"atmosphere":{"humidity":"82","pressure":"29.71","rising":"0","visibility":"6.21"},"astronomy":{"sunrise":"6:18
        am","sunset":"6:51 pm"},"image":{"title":"Yahoo! Weather","width":"142","height":"18","link":"http://weather.yahoo.com","url":"http://l.yimg.com/a/i/brand/purplelogo//uh/us/news-wea.gif"},"item":{"title":"Conditions
        for Nice, FR at 7:29 am CET","lat":"43.7","long":"7.28","link":"http://us.rd.yahoo.com/dailynews/rss/weather/Nice__FR/*http://weather.yahoo.com/forecast/FRXX0073_f.html","pubDate":"Fri,
        29 Mar 2013 7:29 am CET","condition":{"code":"28","date":"Fri, 29 Mar 2013
        7:29 am CET","temp":"50","text":"Mostly Cloudy"},"description":"\n<img src=\"http://l.yimg.com/a/i/us/we/52/28.gif\"/><br
        />\n<b>Current Conditions:</b><br />\nMostly Cloudy, 50 F<BR />\n<BR /><b>Forecast:</b><BR
        />\nFri - Cloudy/Wind. High: 64 Low: 49<br />\nSat - AM Showers. High: 57
        Low: 45<br />\n<br />\n<a href=\"http://us.rd.yahoo.com/dailynews/rss/weather/Nice__FR/*http://weather.yahoo.com/forecast/FRXX0073_f.html\">Full
        Forecast at Yahoo! Weather</a><BR/><BR/>\n(provided by <a href=\"http://www.weather.com\"
        >The Weather Channel</a>)<br/>\n","forecast":[{"code":"24","date":"29 Mar
        2013","day":"Fri","high":"64","low":"49","text":"Cloudy/Wind"},{"code":"39","date":"30
        Mar 2013","day":"Sat","high":"57","low":"45","text":"AM Showers"}],"guid":{"isPermaLink":"false","content":"FRXX0073_2013_03_30_7_00_CET"}}}}}}'
  recorded_at: Fri, 29 Mar 2013 07:15:48 GMT
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?format=json&q=select%20*%20from%20weather.forecast%20where%20woeid=614274%20and%20u='c'
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - engine3.yql.gq1.yahoo.com
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"count":1,"created":"2013-11-08[...]
