---
http_interactions:
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?format=json&q=select%20*%20from%20weather.forecast%20where%20woeid=2490383%20and%20u=%27c%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - prod_gq1_1;paas.yql;queryyahooapiscomproductiongq1;aae52068-5f25-11e6-acf5-f0921c12e67c
      Content-Type:
      - application/json; charset=UTF-8
      Y-Trace:
      - BAEAQAAAAAC2PeSy2Vn6iAAAAAAAAAAAAF8crJ4ye_cAAAAAAAAAAAAFOjwFjv90AAU6PAWPKJtK_Ez9AAAAAA--
    body:
      encoding: UTF-8
      string: '{"query":{"count":1,"created":"2016-08-17T03:25:49Z","lang":"en-US","results":{"channel":{"units":{"distance":"km","pressure":"mb","speed":"km/h","temperature":"C"},"title":"Yahoo!
        Weather - Seattle, WA, US","link":"http://us.rd.yahoo.com/dailynews/rss/weather/Country__Country/*https://weather.yahoo.com/country/state/city-2490383/","description":"Yahoo!
        Weather for Seattle, WA, US","language":"en-us","lastBuildDate":"Tue, 16 Aug
        2016 08:25 PM PDT","ttl":"60","location":{"city":"Seattle","country":"United
        States","region":" WA"},"wind":{"chill":"77","direction":"0","speed":"22.53"},"atmosphere":{"humidity":"42","pressure":"34371.86","rising":"0","visibility":"25.91"},"astronomy":{"sunrise":"6:8
        am","sunset":"8:18 pm"},"image":{"title":"Yahoo! Weather","width":"142","height":"18","link":"http://weather.yahoo.com","url":"http://l.yimg.com/a/i/brand/purplelogo//uh/us/news-wea.gif"},"item":{"title":"Conditions
        for Seattle, WA, US at 07:00 PM PDT","lat":"47.603561","long":"-122.329437","link":"http://us.rd.yahoo.com/dailynews/rss/weather/Country__Country/*https://weather.yahoo.com/country/state/city-2490383/","pubDate":"Tue,
        16 Aug 2016 07:00 PM PDT","condition":{"code":"32","date":"Tue, 16 Aug 2016
        07:00 PM PDT","temp":"25","text":"Sunny"},"forecast":[{"code":"32","date":"16
        Aug 2016","day":"Tue","high":"25","low":"15","text":"Sunny"},{"code":"32","date":"17
        Aug 2016","day":"Wed","high":"23","low":"15","text":"Sunny"},{"code":"32","date":"18
        Aug 2016","day":"Thu","high":"27","low":"17","text":"Sunny"},{"code":"32","date":"19
        Aug 2016","day":"Fri","high":"28","low":"17","text":"Sunny"},{"code":"32","date":"20
        Aug 2016","day":"Sat","high":"28","low":"17","text":"Sunny"},{"code":"32","date":"21
        Aug 2016","day":"Sun","high":"31","low":"17","text":"Sunny"},{"code":"34","date":"22
        Aug 2016","day":"Mon","high":"23","low":"15","text":"Mostly Sunny"},{"code":"34","date":"23
        Aug 2016","day":"Tue","high":"23","low":"15","text":"Mostly Sunny"},{"code":"34","date":"24
        Aug 2016","day":"Wed","high":"23","low":"15","text":"Mostly Sunny"},{"code":"34","date":"25
        Aug 2016","day":"Thu","high":"24","low":"16","text":"Mostly Sunny"}],"description":"<![CDATA[<img
        src=\"http://l.yimg.com/a/i/us/we/52/32.gif\"/>\n<BR />\n<b>Current Conditions:</b>\n<BR
        />Sunny\n<BR />\n<BR />\n<b>Forecast:</b>\n<BR /> Tue - Sunny. High: 25Low:
        15\n<BR /> Wed - Sunny. High: 23Low: 15\n<BR /> Thu - Sunny. High: 27Low:
        17\n<BR /> Fri - Sunny. High: 28Low: 17\n<BR /> Sat - Sunny. High: 28Low:
        17\n<BR />\n<BR />\n<a href=\"http://us.rd.yahoo.com/dailynews/rss/weather/Country__Country/*https://weather.yahoo.com/country/state/city-2490383/\">Full
        Forecast at Yahoo! Weather</a>\n<BR />\n<BR />\n(provided by <a href=\"http://www.weather.com\"
        >The Weather Channel</a>)\n<BR />\n]]>","guid":{"isPermaLink":"false"}}}}}}'
  recorded_at: Wed, 17 Aug 2016 03:25:49 GMT
recorded_with: VCR 3.0.3
