---
http_interactions:
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?format=json&q=select%20*%20from%20weather.forecast%20where%20woeid=614274%20and%20u=%27c%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - prod_gq1_1;paas.yql;queryyahooapiscomproductiongq1;aae56e8c-5f25-11e6-acf5-f0921c12e67c
      Content-Type:
      - application/json; charset=UTF-8
      Y-Trace:
      - BAEAQAAAAAD6HWgWLfRWkgAAAAAAAAAAIC5919ESryQAAAAAAAAAAAAFOjwFkNYRAAU6PAWQ96_yU244AAAAAA--
    body:
      encoding: UTF-8
      string: '{"query":{"count":1,"created":"2016-08-17T03:25:49Z","lang":"en-US","results":{"channel":{"units":{"distance":"km","pressure":"mb","speed":"km/h","temperature":"C"},"title":"Yahoo!
        Weather - Nice, Provence-Alpes-Cote d''Azur, FR","link":"http://us.rd.yahoo.com/dailynews/rss/weather/Country__Country/*https://weather.yahoo.com/country/state/city-614274/","description":"Yahoo!
        Weather for Nice, Provence-Alpes-Cote d''Azur, FR","language":"en-us","lastBuildDate":"Wed,
        17 Aug 2016 05:25 AM CEST","ttl":"60","location":{"city":"Nice","country":"France","region":"
        Provence-Alpes-Cote d''Azur"},"wind":{"chill":"70","direction":"35","speed":"17.70"},"atmosphere":{"humidity":"75","pressure":"33626.85","rising":"0","visibility":"25.91"},"astronomy":{"sunrise":"6:39
        am","sunset":"8:29 pm"},"image":{"title":"Yahoo! Weather","width":"142","height":"18","link":"http://weather.yahoo.com","url":"http://l.yimg.com/a/i/brand/purplelogo//uh/us/news-wea.gif"},"item":{"title":"Conditions
        for Nice, Provence-Alpes-Cote d''Azur, FR at 04:00 AM CEST","lat":"43.704441","long":"7.25217","link":"http://us.rd.yahoo.com/dailynews/rss/weather/Country__Country/*https://weather.yahoo.com/country/state/city-614274/","pubDate":"Wed,
        17 Aug 2016 04:00 AM CEST","condition":{"code":"31","date":"Wed, 17 Aug 2016
        04:00 AM CEST","temp":"20","text":"Clear"},"forecast":[{"code":"4","date":"17
        Aug 2016","day":"Wed","high":"26","low":"20","text":"Thunderstorms"},{"code":"47","date":"18
        Aug 2016","day":"Thu","high":"26","low":"20","text":"Scattered Thunderstorms"},{"code":"30","date":"19
        Aug 2016","day":"Fri","high":"26","low":"20","text":"Partly Cloudy"},{"code":"30","date":"20
        Aug 2016","day":"Sat","high":"27","low":"22","text":"Partly Cloudy"},{"code":"34","date":"21
        Aug 2016","day":"Sun","high":"27","low":"20","text":"Mostly Sunny"},{"code":"32","date":"22
        Aug 2016","day":"Mon","high":"27","low":"20","text":"Sunny"},{"code":"32","date":"23
        Aug 2016","day":"Tue","high":"28","low":"21","text":"Sunny"},{"code":"32","date":"24
        Aug 2016","day":"Wed","high":"28","low":"20","text":"Sunny"},{"code":"32","date":"25
        Aug 2016","day":"Thu","high":"29","low":"20","text":"Sunny"},{"code":"32","date":"26
        Aug 2016","day":"Fri","high":"29","low":"21","text":"Sunny"}],"description":"<![CDATA[<img
        src=\"http://l.yimg.com/a/i/us/we/52/31.gif\"/>\n<BR />\n<b>Current Conditions:</b>\n<BR
        />Clear\n<BR />\n<BR />\n<b>Forecast:</b>\n<BR /> Wed - Thunderstorms. High:
        26Low: 20\n<BR /> Thu - Scattered Thunderstorms. High: 26Low: 20\n<BR /> Fri
        - Partly Cloudy. High: 26Low: 20\n<BR /> Sat - Partly Cloudy. High: 27Low:
        22\n<BR /> Sun - Mostly Sunny. High: 27Low: 20\n<BR />\n<BR />\n<a href=\"http://us.rd.yahoo.com/dailynews/rss/weather/Country__Country/*https://weather.yahoo.com/country/state/city-614274/\">Full
        Forecast at Yahoo! Weather</a>\n<BR />\n<BR />\n(provided by <a href=\"http://www.weather.com\"
        >The Weather Channel</a>)\n<BR />\n]]>","guid":{"isPermaLink":"false"}}}}}}'
  recorded_at: Wed, 17 Aug 2016 03:25:49 GMT
recorded_with: VCR 3.0.3
