---
http_interactions:
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?format=json&q=select%20*%20from%20weather.forecast%20where%20woeid=9848%20and%20u=%27f%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - prod_gq1_1;paas.yql;queryyahooapiscomproductiongq1;aae435fe-5f25-11e6-acf5-f0921c12e67c
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"query":{"count":1,"created":"2016-08-17T03:25:50Z","lang":"en-US","results":{"channel":{"units":{"distance":"mi","pressure":"in","speed":"mph","temperature":"F"},"title":"Yahoo!
        Weather - Victoria, BC, CA","link":"http://us.rd.yahoo.com/dailynews/rss/weather/Country__Country/*https://weather.yahoo.com/country/state/city-9848/","description":"Yahoo!
        Weather for Victoria, BC, CA","language":"en-us","lastBuildDate":"Tue, 16
        Aug 2016 08:25 PM PDT","ttl":"60","location":{"city":"Victoria","country":"Canada","region":"
        BC"},"wind":{"chill":"64","direction":"235","speed":"18"},"atmosphere":{"humidity":"72","pressure":"1014.0","rising":"0","visibility":"16.1"},"astronomy":{"sunrise":"6:10
        am","sunset":"8:24 pm"},"image":{"title":"Yahoo! Weather","width":"142","height":"18","link":"http://weather.yahoo.com","url":"http://l.yimg.com/a/i/brand/purplelogo//uh/us/news-wea.gif"},"item":{"title":"Conditions
        for Victoria, BC, CA at 07:00 PM PDT","lat":"48.42828","long":"-123.3564","link":"http://us.rd.yahoo.com/dailynews/rss/weather/Country__Country/*https://weather.yahoo.com/country/state/city-9848/","pubDate":"Tue,
        16 Aug 2016 07:00 PM PDT","condition":{"code":"32","date":"Tue, 16 Aug 2016
        07:00 PM PDT","temp":"65","text":"Sunny"},"forecast":[{"code":"32","date":"16
        Aug 2016","day":"Tue","high":"65","low":"61","text":"Sunny"},{"code":"32","date":"17
        Aug 2016","day":"Wed","high":"65","low":"59","text":"Sunny"},{"code":"32","date":"18
        Aug 2016","day":"Thu","high":"79","low":"62","text":"Sunny"},{"code":"32","date":"19
        Aug 2016","day":"Fri","high":"74","low":"67","text":"Sunny"},{"code":"32","date":"20
        Aug 2016","day":"Sat","high":"72","low":"63","text":"Sunny"},{"code":"32","date":"21
        Aug 2016","day":"Sun","high":"67","low":"61","text":"Sunny"},{"code":"34","date":"22
        Aug 2016","day":"Mon","high":"64","low":"59","text":"Mostly Sunny"},{"code":"30","date":"23
        Aug 2016","day":"Tue","high":"65","low":"61","text":"Partly Cloudy"},{"code":"34","date":"24
        Aug 2016","day":"Wed","high":"70","low":"62","text":"Mostly Sunny"},{"code":"34","date":"25
        Aug 2016","day":"Thu","high":"74","low":"65","text":"Mostly Sunny"}],"description":"<![CDATA[<img
        src=\"http://l.yimg.com/a/i/us/we/52/32.gif\"/>\n<BR />\n<b>Current Conditions:</b>\n<BR
        />Sunny\n<BR />\n<BR />\n<b>Forecast:</b>\n<BR /> Tue - Sunny. High: 65Low:
        61\n<BR /> Wed - Sunny. High: 65Low: 59\n<BR /> Thu - Sunny. High: 79Low:
        62\n<BR /> Fri - Sunny. High: 74Low: 67\n<BR /> Sat - Sunny. High: 72Low:
        63\n<BR />\n<BR />\n<a href=\"http://us.rd.yahoo.com/dailynews/rss/weather/Country__Country/*https://weather.yahoo.com/country/state/city-9848/\">Full
        Forecast at Yahoo! Weather</a>\n<BR />\n<BR />\n(provided by <a href=\"http://www.weather.com\"
        >The Weather Channel</a>)\n<BR />\n]]>","guid":{"isPermaLink":"false"}}}}}}'
  recorded_at: Wed, 17 Aug 2016 03:25:50 GMT
recorded_with: VCR 3.0.3
