---
http_interactions:
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?format=json&q=select%20*%20from%20weather.forecast%20where%20woeid=9848%20and%20u='f'
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - engine1.yql.gq1.yahoo.com
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"count":1,"created":"2013-11-08T19:35:27Z","lang":"en-US","results":{"channel":{"title":"Yahoo!
        Weather - Victoria, CA","link":"http://us.rd.yahoo.com/dailynews/rss/weather/Victoria__CA/*http://weather.yahoo.com/forecast/CAXX0523_f.html","description":"Yahoo!
        Weather for Victoria, CA","language":"en-us","lastBuildDate":"Fri, 08 Nov
        2013 11:00 am PST","ttl":"60","location":{"city":"Victoria","country":"Canada","region":"BC"},"units":{"distance":"mi","pressure":"in","speed":"mph","temperature":"F"},"wind":{"chill":"46","direction":"270","speed":"9"},"atmosphere":{"humidity":"66","pressure":"30.13","rising":"1","visibility":""},"astronomy":{"sunrise":"7:09
        am","sunset":"4:43 pm"},"image":{"title":"Yahoo! Weather","width":"142","height":"18","link":"http://weather.yahoo.com","url":"http://l.yimg.com/a/i/brand/purplelogo//uh/us/news-wea.gif"},"item":{"title":"Conditions
        for Victoria, CA at 11:00 am PST","lat":"48.43","long":"-123.36","link":"http://us.rd.yahoo.com/dailynews/rss/weather/Victoria__CA/*http://weather.yahoo.com/forecast/CAXX0523_f.html","pubDate":"Fri,
        08 Nov 2013 11:00 am PST","condition":{"code":"28","date":"Fri, 08 Nov 2013
        11:00 am PST","temp":"50","text":"Mostly Cloudy"},"description":"\n<img src=\"http://l.yimg.com/a/i/us/we/52/28.gif\"/><br
        />\n<b>Current Conditions:</b><br />\nMostly Cloudy, 50 F<BR />\n<BR /><b>Forecast:</b><BR
        />\nFri - PM Showers. High: 49 Low: 42<br />\nSat - Showers. High: 46 Low:
        43<br />\nSun - AM Showers. High: 46 Low: 43<br />\nMon - Cloudy. High: 49
        Low: 45<br />\nTue - Rain. High: 49 Low: 45<br />\n<br />\n<a href=\"http://us.rd.yahoo.com/dailynews/rss/weather/Victoria__CA/*http://weather.yahoo.com/forecast/CAXX0523_f.html\">Full
        Forecast at Yahoo! Weather</a><BR/><BR/>\n(provided by <a href=\"http://www.weather.com\"
        >The Weather Channel</a>)<br/>\n","forecast":[{"code":"39","date":"8 Nov 2013","day":"Fri","high":"49","low":"42","text":"PM
        Showers"},{"code":"11","date":"9 Nov 2013","day":"Sat","high":"46","low":"43","text":"Showers"},{"code":"39","date":"10
        Nov 2013","day":"Sun","high":"46","low":"43","text":"AM Showers"},{"code":"26","date":"11
        Nov 2013","day":"Mon","high":"49","low":"45","text":"Cloudy"},{"code":"12","date":"12
        Nov 2013","day":"Tue","high":"49","low":"45","text":"Rain"}],"guid":{"isPermaLink":"false","content":"CAXX0523_2013_11_12_7_00_PST"}}}}}}'
  recorded_at: Fri, 08 Nov 2013 19:35:28 GMT
recorded_with: VCR 2.6.0
