---
http_interactions:
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?format=json&q=select%20*%20from%20weather.forecast%20where%20woeid=9848%20and%20u=%27c%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - prod_gq1_1;paas.yql;queryyahooapiscomproductiongq1;aaf720eb-5f25-11e6-acf5-f0921c12e67c
      Content-Type:
      - application/json; charset=UTF-8
      Y-Trace:
      - BAEAQAAAAABLUaVpTflCGwAAAAAAAAAAtZ3BZBEpIBwAAAAAAAAAAAAFOjwFnQKoAAU6PAWdMDxv1GQZAAAAAA--
    body:
      encoding: UTF-8
      string: '{"query":{"count":1,"created":"2016-08-17T03:25:50Z","lang":"en-US","results":{"channel":{"units":{"distance":"km","pressure":"mb","speed":"km/h","temperature":"C"},"title":"Yahoo!
        Weather - Victoria, BC, CA","link":"http://us.rd.yahoo.com/dailynews/rss/weather/Country__Country/*https://weather.yahoo.com/country/state/city-9848/","description":"Yahoo!
        Weather for Victoria, BC, CA","language":"en-us","lastBuildDate":"Tue, 16
        Aug 2016 08:25 PM PDT","ttl":"60","location":{"city":"Victoria","country":"Canada","region":"
        BC"},"wind":{"chill":"64","direction":"235","speed":"28.97"},"atmosphere":{"humidity":"72","pressure":"34337.99","rising":"0","visibility":"25.91"},"astronomy":{"sunrise":"6:10
        am","sunset":"8:24 pm"},"image":{"title":"Yahoo! Weather","width":"142","height":"18","link":"http://weather.yahoo.com","url":"http://l.yimg.com/a/i/brand/purplelogo//uh/us/news-wea.gif"},"item":{"title":"Conditions
        for Victoria, BC, CA at 07:00 PM PDT","lat":"48.42828","long":"-123.3564","link":"http://us.rd.yahoo.com/dailynews/rss/weather/Country__Country/*https://weather.yahoo.com/country/state/city-9848/","pubDate":"Tue,
        16 Aug 2016 07:00 PM PDT","condition":{"code":"32","date":"Tue, 16 Aug 2016
        07:00 PM PDT","temp":"18","text":"Sunny"},"forecast":[{"code":"32","date":"16
        Aug 2016","day":"Tue","high":"18","low":"16","text":"Sunny"},{"code":"32","date":"17
        Aug 2016","day":"Wed","high":"18","low":"15","text":"Sunny"},{"code":"32","date":"18
        Aug 2016","day":"Thu","high":"26","low":"16","text":"Sunny"},{"code":"32","date":"19
        Aug 2016","day":"Fri","high":"23","low":"19","text":"Sunny"},{"code":"32","date":"20
        Aug 2016","day":"Sat","high":"22","low":"17","text":"Sunny"},{"code":"32","date":"21
        Aug 2016","day":"Sun","high":"19","low":"16","text":"Sunny"},{"code":"34","date":"22
        Aug 2016","day":"Mon","high":"17","low":"15","text":"Mostly Sunny"},{"code":"30","date":"23
        Aug 2016","day":"Tue","high":"18","low":"16","text":"Partly Cloudy"},{"code":"34","date":"24
        Aug 2016","day":"Wed","high":"21","low":"16","text":"Mostly Sunny"},{"code":"34","date":"25
        Aug 2016","day":"Thu","high":"23","low":"18","text":"Mostly Sunny"}],"description":"<![CDATA[<img
        src=\"http://l.yimg.com/a/i/us/we/52/32.gif\"/>\n<BR />\n<b>Current Conditions:</b>\n<BR
        />Sunny\n<BR />\n<BR />\n<b>Forecast:</b>\n<BR /> Tue - Sunny. High: 18Low:
        16\n<BR /> Wed - Sunny. High: 18Low: 15\n<BR /> Thu - Sunny. High: 26Low:
        16\n<BR /> Fri - Sunny. High: 23Low: 19\n<BR /> Sat - Sunny. High: 22Low:
        17\n<BR />\n<BR />\n<a href=\"http://us.rd.yahoo.com/dailynews/rss/weather/Country__Country/*https://weather.yahoo.com/country/state/city-9848/\">Full
        Forecast at Yahoo! Weather</a>\n<BR />\n<BR />\n(provided by <a href=\"http://www.weather.com\"
        >The Weather Channel</a>)\n<BR />\n]]>","guid":{"isPermaLink":"false"}}}}}}'
  recorded_at: Wed, 17 Aug 2016 03:25:50 GMT
recorded_with: VCR 3.0.3
