---
http_interactions:
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?format=json&q=select%20*%20from%20weather.forecast%20where%20woeid=8888888888%20and%20u='c'
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - engine7.yql.gq1.yahoo.com
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"count":1,"created":"2015-01-10T03:24:03Z","lang":"en-US","results":{"channel":{"title":"Yahoo!
        Weather - Error","description":"Yahoo! Weather Error","item":{"title":"City
        not found","description":"\nInvalid Input /forecastrss?u=c&w=8888888888\n"}}}}}'
  recorded_at: Sat, 10 Jan 2015 03:24:03 GMT
recorded_with: VCR 2.6.0
