---
http_interactions:
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?format=json&q=select%20*%20from%20weather.forecast%20where%20woeid=8888888888%20and%20u=%27c%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - prod_gq1_1;paas.yql;queryyahooapiscomproductiongq1;84bcc71f-5ff1-11e6-acf5-f0921c12e67c
      Content-Type:
      - application/json; charset=UTF-8
      Y-Trace:
      - BAEAQAAAAABbiqsDI0B96gAAAAAAAAAAU.wh_ofFiQAAAAAAAAAAAAAFOjwFm2zFAAU6PAWblwFAdRNtAAAAAA--
    body:
      encoding: UTF-8
      string: '{"query":{"count":1,"created":"2016-08-17T03:25:50Z","lang":"en-US","results":{"channel":{"units":{"distance":"km","pressure":"mb","speed":"km/h","temperature":"C"}}}}}'
  recorded_at: Wed, 17 Aug 2016 03:25:50 GMT
recorded_with: VCR 3.0.3
