---
http_interactions:
- request:
    method: get
    uri: http://weather.yahooapis.com/forecastrss?u=f&w=9848
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\" ?>\n\t\t<rss
        version=\"2.0\" xmlns:yweather=\"http://xml.weather.yahoo.com/ns/rss/1.0\"
        xmlns:geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\">\n\t\t\t<channel>\n\t\t\n<title>Yahoo!
        Weather - Victoria, CA</title>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/Victoria__CA/*http://weather.yahoo.com/forecast/CAXX0523_f.html</link>\n<description>Yahoo!
        Weather for Victoria, CA</description>\n<language>en-us</language>\n<lastBuildDate>Tue,
        18 Dec 2012 8:59 pm PST</lastBuildDate>\n<ttl>60</ttl>\n<yweather:location
        city=\"Victoria\" region=\"BC\"   country=\"Canada\"/>\n<yweather:units temperature=\"F\"
        distance=\"mi\" pressure=\"in\" speed=\"mph\"/>\n<yweather:wind chill=\"33\"
        \  direction=\"140\"   speed=\"9\" />\n<yweather:atmosphere humidity=\"81\"
        \ visibility=\"\"  pressure=\"29.91\"  rising=\"2\" />\n<yweather:astronomy
        sunrise=\"8:00 am\"   sunset=\"4:20 pm\"/>\n<image>\n<title>Yahoo! Weather</title>\n<width>142</width>\n<height>18</height>\n<link>http://weather.yahoo.com</link>\n<url>http://l.yimg.com/a/i/brand/purplelogo//uh/us/news-wea.gif</url>\n</image>\n<item>\n<title>Conditions
        for Victoria, CA at 8:59 pm PST</title>\n<geo:lat>48.43</geo:lat>\n<geo:long>-123.36</geo:long>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/Victoria__CA/*http://weather.yahoo.com/forecast/CAXX0523_f.html</link>\n<pubDate>Tue,
        18 Dec 2012 8:59 pm PST</pubDate>\n<yweather:condition  text=\"Mostly Cloudy\"
        \ code=\"27\"  temp=\"39\"  date=\"Tue, 18 Dec 2012 8:59 pm PST\" />\n<description><![CDATA[\n<img
        src=\"http://l.yimg.com/a/i/us/we/52/27.gif\"/><br />\n<b>Current Conditions:</b><br
        />\nMostly Cloudy, 39 F<BR />\n<BR /><b>Forecast:</b><BR />\nTue - Showers/Wind
        Late. High: 39 Low: 37<br />\nWed - Rain/Wind. High: 41 Low: 38<br />\n<br
        />\n<a href=\"http://us.rd.yahoo.com/dailynews/rss/weather/Victoria__CA/*http://weather.yahoo.com/forecast/CAXX0523_f.html\">Full
        Forecast at Yahoo! Weather</a><BR/><BR/>\n(provided by <a href=\"http://www.weather.com\"
        >The Weather Channel</a>)<br/>\n]]></description>\n<yweather:forecast day=\"Tue\"
        date=\"18 Dec 2012\" low=\"37\" high=\"39\" text=\"Showers/Wind Late\" code=\"45\"
        />\n<yweather:forecast day=\"Wed\" date=\"19 Dec 2012\" low=\"38\" high=\"41\"
        text=\"Rain/Wind\" code=\"12\" />\n<guid isPermaLink=\"false\">CAXX0523_2012_12_19_7_00_PST</guid>\n</item>\n</channel>\n</rss>\n\n<!--
        api6.weather.sp2.yahoo.com Wed Dec 19 07:25:24 PST 2012 -->\n"
  recorded_at: Wed, 19 Dec 2012 07:25:24 GMT
recorded_with: VCR 2.3.0
